/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Apply basic font and line height to body */
body {
    font-family: 'Go', sans-serif;
    line-height: 1.5;
    background: #f8f8f8; /* Assuming you want a light grey background for body */
    justify-content: center; 
}

/* Sticky navigation bar that stretches across the full width */
.sticky-nav {
    background-color: #ffffff;
    color: #2c3e50;
    height: 50px;
    width: 100%;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0px 4px 5px -2px rgba(128, 128, 128, 0.75);
    padding: 0 20px; /* Padding on the left and right */
}

/* Top navigation items */
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; /* Max width for the content */
    width: 100%; /* Allow the container to expand */
    padding: 0 20px; /* Padding on the sides */
}

.title {  
    width: 20%;
    color: #774141;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

/* Navigation links styling */
.nav-main {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: left;
}

.nav-main li {
    padding: 0 20px; /* Spacing between nav items */
}

.nav-main a {
    text-decoration: none;
    color: #2c3e50;
    transition: color 0.3s ease-in-out;
}

.nav-main a:hover {
    color: #1abc9c; /* Change as needed */
}

/* Right side of the nav bar */
.nav-right {
    display: flex;
    align-items: center;
}

.icon-link, .search-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    font-size: 20px;
    margin-right: auto;
    padding: 0 5px;
}

#mode-toggle {
    margin-left: 20px; /* Spacing to the left of search and mode toggle */
}

.icon-link {
    text-decoration: none;
    color: #2c3e50;
    padding-left: 20px; /* Spacing to the left of the icon link */
}

/* Wrapper for centered content */
.wrapper {
    max-width: 1200px;
    margin: auto; /* Center the wrapper */
}


/* Responsive design adjustments */
@media (max-width: 1200px) {
    .wrapper {
        padding: 0 10px; /* Add some padding on smaller screens */
    }
}

@media (max-width: 768px) {
    .sticky-nav ul li {
        padding: 0 10px;
    }

    .sticky-nav ul {
        margin-right: 0; /* Remove margin for small screens */
    }
}

/* Sidebar and main content styles */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
}

.sidebar {
    flex: 3;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text alignment */
    padding: 20px;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}


.main-content {
    flex: 7;
    padding: 20px;
}

/* Image and other content styles */
.avatar {
    width: 100%; /* Responsive image scaling */
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-bottom: 20px;
}
